<div class="icon-savoir"></div>
<figure>
  <img src="img/icon-contact.png" alt="icon contact rémy" class="fix-icon">
    <h2 class="vert"><span><<span>Contact</span> /></span></h2>
    <p class="blanc">Besoin de me contacter ? N'hésitez pas !</p>
</figure>
<hr>
<%- include formulaire.ejs %>