<div class="icon-savoir"></div>
<figure>
  <img class="fix-icon" src="img/icon-savoir.png" alt="">
    <h2 class="rose"><span><<span>Savoir_faire</span> /></span></h2>
    <p class="blanc">Skill et environement utilisés</p>
</figure>
<hr>
<%- include skills.ejs %>