<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img class="nav-brand" src="img/minimoi.png" alt="mini avatar de Rémy" style="display:none">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <div class="sr-only">Toggle navigation</div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% menu.forEach(menu => { %>
          <li><a href="<%= menu.url %>"><%= menu.name %></a></li>
        <% }) %>
      </ul>
    </div>
  </div>
</nav>